@font-face {
    font-family: "Noteworthy";
    src: url("../police/Noteworthy-Lt.ttf");
}

body {
    padding-left: 15px;
    font-family: "Noteworthy";
    background-color: #fefee2;
}

h1 {
	color: #FCA205;
}

img.logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
}