{% extends 'appPrincipale/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  Hi {{ user.username }}!
  <a href="/appPrincipale/profil/{{ user.id }}/">profil</a><br>

  <h2>Lieux Restauration :</h2> 
  
  <form name="recherche" action="/appPrincipale/home/" method="post" onsubmit="DoSubmit();" >
    {% csrf_token %}
    <div>
        <input id='lieu' type="search" name="lieuRestauration" placeholder="Ex : RU Brabois"/>
        <button type="button" onClick="DoSubmit()">Rechercher</button>
    </div>
  <fieldset>
      <legend>Type de lieu de restauration</legend>
      <div>
        <input type="checkbox" id="RU" name="RU" value="RU" checked >
        <label for="RU">RU</label>
        <input type="checkbox" id="BR" name="BR" value="BR" checked >
        <label for="BR">Brasserie</label>
        <input type="checkbox" id="CA" name="CA" value="CA" checked >
        <label for="CA">Cafétéria</label>
      </div>
      <div>
        <input type="checkbox" id="FO" name="FO" value="FO" checked >
        <label for="FO">Foodtruck</label>
        <input type="checkbox" id="SA" name="SA" value="SA" checked >
        <label for="SA">Salle administrative</label>
        <input type="checkbox" id="SW" name="SW" value="SW" checked >
        <label for="SW">Sandwicherie</label>
      </div>
    </form>
  </fieldset>


<!-- <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label> -->
<span id="hey"></span>

<script>
    var sizeLieux = "{{ lieux.count|safe }}";
    var tabId = new Array(sizeLieux);
    var tabNom = new Array(sizeLieux);
    var tabType = new Array(sizeLieux);
    var i = 0;
</script>

  <ul> 
    {% for n in lieux %}
     <script>
      tabId[i] = "{{ n.id|safe }}";
      tabNom[i] = "{{ n.nom|safe }}";
      tabType[i] = "{{ n.typeR|safe }}";
      i++;
     </script> 
     
     <span id="{{ n.id }}"><li><a href="/appPrincipale/lieuR/{{ n.id }}/"> {{ n.nom }}</a></li></span>

    {% endfor %}
  </ul> 

<script>
      function DoSubmit(){
        document.getElementById("hey").value = tabType[2];
        for (var j = 0; j < sizeLieux; j++) {
          if(tabNom[j].toLowerCase().indexOf(document.getElementById("lieu").value.toLowerCase()) == -1 
            || !(document.getElementById(tabType[j]).checked)) {
            document.getElementById(tabId[j]).style.display = "none";
          }
          else {
            if(document.getElementById(tabType[j]).checked)  {
              document.getElementById(tabId[j]).style.display = "block";
            }
          }
          
        }
      }
</script> 

{% endblock %}