{% extends 'appPrincipale/baseComplete.html' %}
{% block title %}Lieu restauration{% endblock %}
{% block content %}




  <script>
    window.onload = function() {
      if(("{{ fav }}".localeCompare("False")) == 1) document.frmFav.btnFav.value = "Supprimer des favoris";
      else document.frmFav.btnFav.value = "Ajouter aux favoris";
    };
  </script>


<div class="container">
  <div class = "row">
    <div class = "col-sm-12">
      <span> {{ lieu.nom }} </span><br><br>
      <span> {{ lieu.adresse }} </span><br><br>
    </div>
    <div class = "col-sm-12">
      <form action="/appPrincipale/addFav/{{ lieu.id }}/{{ user.id }}" method="get" name="frmFav">
        <input  class= "btn btn-primaray" type="submit" value="" name="btnFav"/>
      </form>
    </div>
    <div class = "col-sm-12">
      <form name="geoLoc" action="/appPrincipale/geoLoc/{{ lieu.id }}/" method="post">
        {% csrf_token %}
        <input class= "btn btn-primaray" type="submit" value="Y aller">
      </form>
    </div>
  </div>
</div>
  <!--   <a href="/appPrincipale/addFav/{{ lieu.id }}/{{ user.id }}/"> Ajouter au favoris</a><br>
-->
<div class = "container">
  <div class = "row">
  <div class = "col-sm-4">
      <span>Menu du prochain repas [ {{ menu.date }} ] :</span><br>
      <span>
        <ul>
          {% for n in menupp %}
            {% for m in plats %}
              {% if n.platPrincipal_id == m.id %}
                <li>{{ m.nom }}</li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </span>
    </div>
    <div class = "col-sm-3">
      <span>Temps d'attente : {{ lieu.tempsAttente }}</span>
    </div>
  </div>
</div>
<div>
  <div>
    <form action="/appPrincipale/reservation/{{ lieu.id }}/{{ user.id }}" method="get">
        <input  class= "btn btn-primaray" type="submit" value="Réserver pour ce repas"/>
    </form>
  </div><br>
  <div>
    <input class= "btn btn-primaray" type="button" value="Menus suivants (fonctionne pas)"><br>
  </div>
</div>
{% endblock %}