{% extends 'appPrincipale/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">

	<div class = "row">
	<div class = "col">
		<form method="post">
			<div class = "row">
				<div class = "col-sm-12 col-md-12 col-lg-12 col-xl-12">
					{% csrf_token %}
    				{{ form.as_p }}
				</div>
				<div class = "col">
					<button class= "btn btn-primaray btn-lg" type="submit">Login</button>		
				</div>

				<div class = "col">
					<a class = "btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign up</a>	
				</div>	
			</div>
    		
    		
  		</form>
	</div>

</div>
	
</div>


  
{% endblock %}
