{% extends 'appPrincipale/baseComplete.html' %}

{% block title %}Parametres{% endblock %}

{% block content %}

<form class= "form-horizontal" action="/appPrincipale/getParam/{{ user.id }}/" method="post">
  {% csrf_token %}
  <div class = "row">
    <div class = "col-sm-12 col-md-3">
      <fieldset>
       <legend>Régimes</legend>
        <div>
          
          <input type="checkbox" id="vegetarien" name="vegetarien" value="vegetarien" {% ifequal re.vegetarien True %} checked {% endifequal %} >
          <label for="vegetarien">Végétarien</label>

        </div>

        <div>
          <input type="checkbox" id="vegan" name="vegan" value="vegan" {% ifequal re.vegan True %} checked {% endifequal %} >
          <label for="vegan">Vegan</label>
        </div>
      </fieldset>
    
    </div>

    <div class = "col-sm-12 col-md-3">
      <fieldset>
        <legend>Allergies</legend>
        <div>
          <input type="checkbox" id="sGluten" name="sGluten" value="sGluten" {% ifequal al.sGluten True %} checked {% endifequal %} >
          <label for="sGluten">Sans gluten</label>
        </div>
    
        <div>
          <input type="checkbox" id="sLactose" name="sLactose" value="sLactose" {% ifequal al.sLactose True %} checked {% endifequal %} >
          <label for="sLactose">Sans lactose</label>
        </div>
      </fieldset>
      
    </div>

  </div>


  <fieldset>
    <legend>Localisation</legend>
    <div>
      <label for="ville">Ville : </label>
      <input type="text" id="ville" name="ville" placeholder="Nancy" value= "{{ userP.ville }}">
    </div><br>
    <div>
      <label for="etab">Etablissement : </label>
      <input type="text" id="etab" name="etab" placeholder="ARTEM" value = "{{ userP.lieuEtude }}">
    </div>
  </fieldset>
  <div class="button">
        <button class= "btn btn-primaray btn-lg" type="submit">Valider les changements</button>
  </div>
</form>

{% endblock %}