{% extends 'appPrincipale/baseComplete.html' %}

{% block title %}Profil{% endblock %}

{% block content %}

  <div class = "row">
    <div class = "col-sm-12 col-md-4">
      <span>Prénom : {{ user.first_name }} </span><br>
      <span>Nom : {{ user.last_name }} </span>
    </div> <br>
    
    <div class = "col-sm-12 col-md-4">
      <span>Solde IZLY :  {{ userProfil.solde }} €</span>
    </div> <br>
    
    <div class = "col-sm-12 col-md-4">
      <span>Régimes : <ul>
                          {% if re.vegetarien == False and re.vegan == False %}Aucun{% endif %}
                          {% if re.vegetarien %}<li> Végétarien </li>{% endif %} 
                          {% if re.vegan %}<li> Vegan </li>{% endif %}
                      </ul></span>
      <span>Allergies : <ul>
                          {% if al.sGluten == False and al.sLactose == False %}Aucune{% endif %}
                          {% if al.sGluten %}<li> Gluten </li>{% endif %} 
                          {% if al.sLactose %}<li> Lactose </li>{% endif %}
                      </ul></span>
      <span>Ville : {{ userProfil.ville }} </span><br>
      <span>Lieu : {{ userProfil.lieuEtude }} </span><br>
    </div> <br>   
  </div>


  <div>
     <input class= "btn btn-primaray btn-lg" type="button" value="Historique (fonctionne pas)">
  </div> <br>
  <div>
    <form action="/appPrincipale/favoris/{{ user.id }}/" method="get">
         <input class= "btn btn-primaray btn-lg" type="submit" value="Favoris"/>
    </form>
  </div> <br>
  
  <div class = "row">
    <div class = "col-sm-2">
      <form action="{% url 'login' %}" method="get">
         <input class= "btn btn-primaray btn-lg" type="submit" value="Déconnexion"/>
     </form>
    </div> 
    <div class = "col-sm-2">
      <form action="/appPrincipale/parametres/{{ user.id }}/" method="get">
         <input class= "btn btn-primaray btn-lg" type="submit" value="Paramètres"/>
      </form>
    </div>

  </div>


{% endblock %}