{% extends 'appPrincipale/base.html' %}

{% block title %}Profil{% endblock %}

{% block content %}

  <div>
      <span> {{ user.first_name }} </span><br>
      <span> {{ user.last_name }} </span>
  </div><br><br>
  <div>
      <span>Solde IZLY :  {{ userProfil.solde }} </span>
  </div><br><br>
  <div>
      <span>Régime : Aucun</span><br>
      <span>Ville : {{ userProfil.ville }} </span><br>
      <span>Lieu : {{ userProfil.lieuEtude }} </span><br>
  </div><br><br>
  <div>
     <input type="button" value="Historique (fonctionne pas)">
  </div><br>
  <div>
     <a href="/appPrincipale/favoris/{{ user.id }}/">Favoris</a><br>
  </div><br>
  <div>
     <form action="{% url 'login' %}" method="get">
         <input type="submit" value="Déconnexion"/>
     </form>
  </div><br>
    <div>
     <a href="/appPrincipale/parametres/{{ user.id }}/">Paramètres</a><br>
  </div><br>


{% endblock %}